.searchInput,
.termInput,
.playlistTitle {
	/* position: absolute;
	left: 50%;
	top: -5%;
	transform: translate(-50%, 0);
	height: 38px;
	width: 196px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* added to playlist title to duplicate term input styles */
.playlistTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.28rem;
	background-color: white;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 1rem;
}

.playlistContainer,
.termContainer {
	position: relative;
}

.playlistName {
	flex-grow: 1;
}

.select {
	width: 80%;
	margin: 0 auto;
}

@media only screen and (max-width: 900px) {
	.select {
		width: 100%;
	}
}
