.settings {
	margin: 2rem 0;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sliderLabel {
	margin: 1rem;
	color: white;
}

.menuContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.picks {
	display: flex;
	flex-wrap: wrap;
	overflow-x: auto;
	justify-content: space-evenly;
}

.pick {
	width: 300px;
}
